@model CalcPorPessoa.WebUI.ViewModel.OperacoesViewModel
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form asp-action="Nova">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Nova pessoa</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					@if (ViewData.ModelState.Keys.Any(x => x == "Nova"))
					{
						<div class="text-danger">@Html.ValidationSummary(string.Empty, "Nova")</div>
					}
					<div class="mb-3">
						<label asp-for="Pessoa.Nome" class="form-label"></label>
						<input asp-for="Pessoa.Nome" class="form-control" id="txtNomePessoa" />
						<span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Pessoa.NumDependentes" class="form-label"></label>
						<input asp-for="Pessoa.NumDependentes" class="form-control" id="txtNumDependentes" />
						<span asp-validation-for="Pessoa.NumDependentes" class="text-danger"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
					<button type="submit" class="btn btn-success">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>